<div class="container">
    <div id="welcome">
        <h4>You're in the Quote Hub.</h4>
    </div>
    <div class="row">
        <div class="col-md-8" id="mycards">
            <div *ngFor='let quote of quotes, let i = index;'>
                <div class="card bg-light mb-3" style="max-width: 38rem;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 id={{i}}>{{quote.quote}}</h5>
                                Quote Posted <span id="date_posted">{{ quote.postDate|dateCount }} Days </span>Ago.
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary" id="vote" (click)='toggleDetails(i)'>Expand</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-title" appHighlight> {{quote.description }} </div>
                        <div class="voter">
                        </div>
                        <div class="card-text" id="submitter">
                            Presented By: ~ <span id="submittern"> {{ quote.submit_by }} </span> On:~ <span id="date_posted">
                {{quote.postDate | date}} </span>
                            <div id="author">
                                <app-quote-detail *ngIf='quote.showDetails' [quote]='quote' (isSeen)='deleteQuote($event,i)'>
                                </app-quote-detail>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" id="formquote">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    </div>
</div>