        @import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
        .container {
            background-image: url("../../assets/blue-sky1.jpeg");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            font-family: 'Uchen', serif;
        }
        
        #welcome {
            color: rgb(241, 8, 203);
            margin-bottom: 3%;
            text-align: center;
            padding-top: 30px;
            text-shadow: 1px 1px maroon;
        }
        
        h4 {
            font-size: 50px;
            font-weight: bold;
        }
        
        h5 {
            color: rgb(238, 4, 180);
            text-shadow: 2px;
            text-decoration-line: underline;
        }
        
        #mycards {
            padding-left: 5%;
        }
        
        #vote {
            float: right;
        }
        
        #submitter {
            float: left;
        }
        
        #submittern {
            color: rgb(163, 19, 192);
        }
        
        #date_posted {
            color: rgb(135, 34, 139);
        }